@import 'react-toastify/scss/main.scss';
@import 'bootstrap/scss/functions';

// 2. Include any default variable overrides here
$enable-important-utilities: false;
$enable-negative-margins: true;
$prefix: aesirxconsent-;
$toast-background-color: var(--aesirxconsent-white);
$toast-max-width: 617px;

$form-check-input-checked-bg-color: var(--aesirxconsent-success);
$toast-background-color: '';

$border-radius: 0.5rem;
$success: #1ab394;
$spacer: 16px;
$primary: #132342;
$secondary: #627eea;
$dark: #222328;
// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import 'bootstrap/scss/variables';
@import 'variables-dark';
@import 'bootstrap/scss/variables-dark';
// 4. Include any default map overrides here
// 5. Include remainder of required parts
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';
.aesirxconsent {
  // 6. Optionally include any other parts as needed
  @import 'bootstrap/scss/utilities';
  @import 'bootstrap/scss/modal';
  @import 'bootstrap/scss/offcanvas';
  @import 'bootstrap/scss/buttons';
  @import 'bootstrap/scss/close';
  @import 'bootstrap/scss/helpers';
  @import 'bootstrap/scss/transitions';
  @import 'bootstrap/scss/spinners';
  @import 'bootstrap/scss/toasts';
  @import 'bootstrap/scss/card';
  @import 'bootstrap/scss/nav';
  @import 'bootstrap/scss/_grid';
  // 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
  @import 'bootstrap/scss/utilities/api';
  color: #5f5e70;
  font-size: 16px;
  --w3m-z-index: 1060;
  z-index: 1050;
  position: relative;
  --#{$prefix}modal-margin: 1.75rem;
  --#{$prefix}btn-padding-y: 9px;
  --#{$prefix}btn-padding-x: 20px;
  line-height: 24px;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  &-modal .modal-dialog {
    max-width: 500px;
  }
  a {
    text-decoration: underline;
  }
  .fs-14 {
    font-size: 14px;
  }
  .w-30 {
    width: 30%;
  }
  .ms-10px {
    margin-left: 10px;
  }
  button {
    text-transform: none;
    font-family: var(--bs-body-font-family);
  }
  .text-primary {
    color: $primary;
  }
  img {
    height: auto;
    display: inline;
  }
  .btn {
    --#{$prefix}btn-font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    border-radius: 6px;
    &.text-white {
      color: #fff;
    }
  }
  .btn-dark {
    @include button-variant(#222328, #222328, #fff, #222328, #222328, #fff);
  }
  .btn-outline-success {
    @include button-variant($white, $success, $dark, $success, $success, $white);
  }
  .btn-gray {
    @include button-variant(#a5a4b5, #a5a4b5, #fff, transparent, #a5a4b5, #fff);
  }
  .btn-success:hover {
    color: var(--#{$prefix}white);
  }
  .nav {
    @include media-breakpoint-down(lg) {
      --aesirxconsent-nav-link-padding-y: 5px;
    }
  }
  .toast {
    --#{$prefix}toast-zindex: 1049;
    --#{$prefix}toast-font-size: 16px;
    border: 0;
    box-shadow: none;
    .toast-body {
      border: var(--#{$prefix}toast-border-width) solid var(--#{$prefix}toast-border-color);
      box-shadow: var(--#{$prefix}toast-box-shadow);
      border-radius: var(--#{$prefix}toast-border-radius);
      max-height: 100vh;
      overflow-y: auto;
      @include media-breakpoint-down(lg) {
        font-size: 14px;
      }
      button {
        @include media-breakpoint-down(lg) {
          font-size: 14px;
        }
      }
    }
    &.custom {
      --#{$prefix}toast-max-width: 800px;
      .consent_info_tab {
        .nav-item {
          width: 100%;
          button {
            width: 100%;
            font-weight: 600;
            color: #a5a4b5;
            border: 0;
            cursor: pointer;
            &.active {
              color: $primary;
              border-bottom: 2px solid $success;
            }
          }
        }
      }
      .about_section {
        overflow: auto;
        padding: 0 10px;
        &.fix_height {
          height: 373px;
        }
        @include media-breakpoint-down(lg) {
          padding: 0;
        }
        &::-webkit-scrollbar-track {
          border-radius: 5px;
          background-color: #e9e9e9;
        }
        &::-webkit-scrollbar {
          width: 4px;
          background-color: #e9e9e9;
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 5px;
          background-color: $dark;
        }
      }
      .status-tier {
        &.tier-1 {
          background-color: #f1c40f;
        }
        &.tier-2 {
          background-color: #e67e22;
        }
        &.tier-3 {
          background-color: #9b59b6;
        }
        &.tier-4 {
          background-color: #c8192e;
        }
      }
    }
  }
  .toast-container {
    box-sizing: border-box;
    --#{$prefix}toast-zindex: 1049;
  }
  .status-tier-text {
    font-weight: 600;
  }
  .status-tier {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    &.tier-1 {
      background-color: #f1c40f;
    }
    &.tier-2 {
      background-color: #e67e22;
    }
    &.tier-3 {
      background-color: #9b59b6;
    }
    &.tier-4 {
      background-color: #c8192e;
    }
  }
  .ssoBtnWrapper {
    position: relative;
    border-radius: 0.5rem;
    min-width: 120px;
    &.rounded-pill {
      border-radius: var(--#{$prefix}border-radius-pill);
    }
  }
  .revoke-toast {
    width: 530px;
    .toast-body {
      .minimize-revoke {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
      }
      .manage-consent {
        margin-right: 10px;
      }
    }
  }
  .toast {
    &.minimize {
      width: auto;
    }
  }
  .minimize-shield-wrapper {
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    .cover-img {
      z-index: -1;
      position: absolute;
      object-fit: cover;
      top: 0;
      left: 0;
      &.z-1 {
        z-index: 1;
      }
    }
    .minimize-shield {
      cursor: pointer;
      padding: 11.5px 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      img {
        margin-right: 5px;
      }
    }
    .text {
      font-weight: 500;
      color: $dark;
    }
  }
  .read-more {
    text-align: right;
    margin-top: 12px;
    .read-more-btn {
      display: inline-flex;
      align-items: center;
      color: #132342;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      img.revert {
        transform: rotate(180deg);
      }
    }
  }

  .loading-status {
    margin-bottom: 10px;
    .btn:disabled {
      opacity: 1;
    }
    .text {
      max-width: calc(100% - 1.75rem);
    }
  }

  .lightning {
    -webkit-filter: brightness(8);
    filter: brightness(8);
    -o-filter: brightness(8);
    -moz-filter: brightness(8);
    opacity: 0;
  }

  .flash-effect {
    -webkit-animation: flash ease-out 5s infinite;
    -moz-animation: flash ease-out 5s infinite;
    animation: flash ease-out 5s infinite;
  }

  .block-wallet {
    background-color: var(--#{$prefix}body-bg);
  }

  .item_compliant {
    padding: 6px 14px 6px 8px;
    background-color: #f0f3fb;
    border-radius: 17px;
  }

  .consent_level {
    border: 2px solid #dedede;
    border-radius: 8px;
    padding: 20px;
    position: relative;
    &.active {
      border: 2px solid $success;
      background-color: #faffff;
    }
    .checkbox_img {
      position: absolute;
      top: 20px;
      right: 20px;
    }
    .consent_upgrade_content {
      width: 95%;
    }
    @include media-breakpoint-down(lg) {
      padding: 10px;
      .checkbox_img {
        top: 10px;
        right: 10px;
      }
    }
  }
  .d-flex {
    width: auto;
    grid-column-gap: unset;
    grid-row-gap: unset;
    justify-content: start;
    flex-direction: unset;
    &.w-100 {
      width: 100%;
    }
    &.w-lg-30 {
      width: 30%;
    }
    &.justify-content-between {
      justify-content: space-between;
    }
    &.justify-content-center {
      justify-content: center;
    }
  }
  .btn.rounded-pill {
    border-radius: var(--#{$prefix}border-radius-pill);
  }
  .d-flex.justify-content-between.align-items-center {
    grid-column-gap: unset;
    flex-flow: unset;
    &.flex-wrap {
      flex-wrap: wrap;
    }
  }
  .position-relative {
    display: block;
  }
  .tab-pane {
    height: auto;
  }
  .cursor-pointer {
    cursor: pointer;
  }

  @-webkit-keyframes flash {
    from {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    22% {
      opacity: 0.6;
    }
    24% {
      opacity: 0.2;
    }
    26% {
      opacity: 0.9;
    }
    30% {
      opacity: 0;
    }
  }

  @keyframes flash {
    from {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    22% {
      opacity: 0.6;
    }
    24% {
      opacity: 0.2;
    }
    26% {
      opacity: 1;
    }
    30% {
      opacity: 0;
    }
  }
  .header-consent-bg {
    background-color: #f8f9fd;
  }
}
body.modal-open,
body.modal-sso-open {
  .aesirxconsent {
    .offcanvas-backdrop {
      z-index: 99;
    }
    .toast-container {
      --#{$prefix}toast-zindex: 100;
    }
  }
}
.aesirxconsent-modal {
  &.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
}
.modal-backdrop {
  --#{$prefix}backdrop-zindex: #{$zindex-modal-backdrop};
  --#{$prefix}backdrop-bg: #{$modal-backdrop-bg};
  --#{$prefix}backdrop-opacity: #{$modal-backdrop-opacity};
  @include overlay-backdrop(
    var(--#{$prefix}backdrop-zindex),
    var(--#{$prefix}backdrop-bg),
    var(--#{$prefix}backdrop-opacity)
  );
}
.aesirxsso {
  color: #5f5e70;
}
.aesirxconsent {
  .aesirxsso {
    .modal {
      --#{$prefix}modal-width: 846px;
      .btn-close {
        --#{$prefix}btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
      }
    }
  }
}
@import './color-mode.scss';
