@import 'react-toastify/scss/main.scss';
@import 'bootstrap/scss/functions';

// 2. Include any default variable overrides here
$enable-important-utilities: false;
$enable-negative-margins: true;
$prefix: aesirxconsent-;
$toast-background-color: var(--aesirxconsent-white);
$toast-max-width: 617px;

$toast-font-size: 1rem;
$form-check-input-checked-bg-color: var(--aesirxconsent-success);
$toast-background-color: '';

$border-radius: 0.5rem;
$success: #1ab394;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';

.aesirxconsent {
  // 6. Optionally include any other parts as needed
  @import 'bootstrap/scss/utilities';
  @import 'bootstrap/scss/offcanvas';
  @import 'bootstrap/scss/buttons';
  @import 'bootstrap/scss/close';
  @import 'bootstrap/scss/helpers';
  @import 'bootstrap/scss/transitions';
  @import 'bootstrap/scss/spinners';
  @import 'bootstrap/scss/toasts';
  @import 'bootstrap/scss/card';
  // 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
  @import 'bootstrap/scss/utilities/api';

  .btn-success:hover {
    color: var(--aesirxconsent-white);
  }
  .status-tier {
    width: 18px;
    height: 18px;
    margin-right: 5px;
    &.tier-1 {
      background-color: #f1c40f;
    }
    &.tier-2 {
      background-color: #e67e22;
    }
    &.tier-3 {
      background-color: #9b59b6;
    }
    &.tier-4 {
      background-color: #c8192e;
    }
  }
  .ssoBtnWrapper {
    position: relative;
    border-radius: 0.5rem;
    min-width: 120px;
    .position-fixed {
      position: absolute !important;
      background: transparent !important;
      & > span {
        width: 25.7143px !important;
        height: 25.7143px !important;
        & > span {
          width: 2.85714px !important;
          height: 2.85714px !important;
          top: 8.57143px !important;
          background-color: rgb(255, 255, 255) !important;
          + span {
            width: 20px !important;
            height: 20px !important;
            border: 2.85714px solid rgb(255, 255, 255) !important;
            background: transparent !important;
            top: 0 !important;
          }
        }
      }
    }
  }
}
